@use "design-tokens" as *;

@layer theme {
  .section-intro {
    font-family: $text-font;
    font-size: $font-size-default;
    font-weight: $font-weight-400;
    background-color: $primary-color-surface-1;
  }
}
