/* Import the modules first */

@use "layout-config";
@use "reset";
@use "components/atoms" as *;
@use "components/molecules" as *;
@use "components/organisms" as *;
@use "utilities" as *;
@use "design-tokens" as *;
@use "theme";
@use "modules" as *;

body {
  background-color: $background-color;
  color: $default-color;
}

/* ------- Table component ------- */

.table-component {
  .grid-table {
    @include grid-table-2-columns;
  }
}

.background-color-system {
  @include grid-col-3 {
    @include card_column_center;
  }
}

.logo-gradient {
  background: conic-gradient(
      from var(--angle),
      $gradient-3,
      $gradient-1,
      $gradient-2,
      $gradient-1,
      $gradient-3
    )
    border-box;
  animation: rotate 10s linear infinite;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  .svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: $primary-color-surface-2;
    padding: $spacer-sm;
    svg {
      width: 100%;
      height: 100%;
      color: $primary-color;
    }
  }
}

.nina-intro {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;

  p {
    margin-bottom: $spacer-sm;
  }
}

.bg-white {
  background-color: white;
}
