@use "../design-tokens" as *;
@use "../utilities" as *;
/* ------- BUTTONS  ------- */

@mixin btn {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:focus {
    outline: $border-size-thick solid $tertiary-color;
    outline-offset: $spacer-xs;
  }
}

.button {
  @include btn;
  border-radius: $border-radius-default;
  padding: $spacer-sm $spacer-xl;
  background-color: inherit;
  color: inherit;
}

/* do 3 differents buttons */
@mixin button-container {
  width: fit-content;
  position: relative;
  padding: $border-size-thin;
  border-radius: $border-radius-default;
  margin-block-end: $spacer-md;
}

.button-container-primary {
  @include button-container;
  background: $primary-color;
  button {
    background-color: $primary-color;
    color: $background-color;
  }
  &:hover {
    background: $secondary-color;
    button {
      background-color: $secondary-color;
    }
  }
  &:active,
  &:focus {
    background: $tertiary-color;
    button {
      background-color: $tertiary-color;
    }
  }
}

.button-container-gradient {
  @include button-container;
  background: $link-color;
  button {
    background-color: $tertiary-color-surface-1;
    color: $link-color;
  }
  &:hover {
    background: conic-gradient(
        from var(--angle),
        $gradient-3,
        $gradient-1,
        $gradient-2,
        $gradient-1,
        $gradient-3
      )
      border-box;
    animation: rotate 10s linear infinite;
    button {
      text-decoration: underline;
      text-decoration-thickness: 0.09rem;
      text-underline-offset: 0.2rem;
      text-decoration-color: $gradient-2;
    }
  }
  &:active,
  &:focus {
    background: $link-active-color;
    button {
      color: $link-active-color;
      text-decoration-color: $link-active-color;
    }
  }
}

.button-container-shadow-top-right {
  @include button-container;
  background: $link-color;
  button {
    background-color: $primary-color-surface-1;
    color: $link-color;
  }
  &:hover {
    box-shadow: 5px -5px 0 0 $gradient-2;
    background-color: $gradient-2;
  }
  &:active,
  &:focus {
    background-color: transparent;
    box-shadow: none;
    button {
      color: $link-active-color;
      text-decoration-color: $link-active-color;
      transform: translate(6px, -6px);
    }
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
