@use "../design-tokens" as *;
@use "../utilities" as *;
/********* Text *********/

@mixin text-paragraph-1 {
  font-family: $text-font;
  font-size: $font-size-default;
  line-height: $line-height-paragraph;
  font-weight: $font-weight-400;
  letter-spacing: $letter-spacing-paragraph;
  text-wrap: pretty;
  margin-block-end: $spacer-md;
}

@mixin list {
  & {
    padding-inline: $spacer-sm;
    padding-block: $spacer-xl;
    margin-block-end: $spacer-md;
    li {
      margin-bottom: $spacer-md;
      margin-inline-start: $spacer-lg;
      p {
        margin-block-end: 0;
      }
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
  li::marker {
    color: $primary-color;
  }
}
