/* Colors */
:root {
  /* black and white */
  --color-scheme: light dark;
  --white-color: #f4fafd;
  --black-color: #040b14;
  --background-color: var(--white-color);
  --contrast-color: var(--white-color);
  --default-color: var(--black-color);
  --gray-color: #afbdbf;

  /* primary colors */
  --primary-color: #300a58; // svg background
  --primary-color-surface-1: color-mix(
    in srgb,
    var(--background-color),
    var(--primary-color) 5%
  );
  --primary-color-surface-2: color-mix(
    in srgb,
    var(--background-color),
    var(--primary-color) 10%
  );
  --primary-color-surface-3: color-mix(
    in srgb,
    var(--background-color),
    var(--primary-color) 15%
  );

  /* secondary colors */
  --secondary-color: #121554; // svg background
  --secondary-color-surface-1: color-mix(
    in srgb,
    var(--background-color),
    var(--secondary-color) 5%
  );
  --secondary-color-surface-2: color-mix(
    in srgb,
    var(--background-color),
    var(--secondary-color) 10%
  );
  --secondary-color-surface-3: color-mix(
    in srgb,
    var(--background-color),
    var(--secondary-color) 15%
  );

  /* tertiary colors */
  --tertiary-color: #5c0c3c; // svg background
  --tertiary-color-surface-1: color-mix(
    in srgb,
    var(--background-color),
    var(--tertiary-color) 5%
  );
  --tertiary-color-surface-2: color-mix(
    in srgb,
    var(--background-color),
    var(--tertiary-color) 10%
  );
  --tertiary-color-surface-3: color-mix(
    in srgb,
    var(--background-color),
    var(--tertiary-color) 15%
  );

  /*action colors*/
  --link-color: var(--primary-color);
  --link-hover-color: var(--secondary-color);
  --link-active-color: var(--tertiary-color);

  /*gradient colors*/
  --gradient-color: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--tertiary-color)
  );
}

.dark-theme {
  /* black and white */
  --background-color: var(--black-color);
  --contrast-color: var(--white-color);
  --default-color: var(--white-color);
  --gray-color: #3b4142;

  /* primary colors */
  --primary-color: #c088fa; // svg background
  --primary-color-surface-1: color-mix(
    in srgb,
    var(--background-color),
    var(--primary-color) 5%
  );
  --primary-color-surface-2: color-mix(
    in srgb,
    var(--background-color),
    var(--primary-color) 10%
  );
  --primary-color-surface-3: color-mix(
    in srgb,
    var(--background-color),
    var(--primary-color) 15%
  );

  /* secondary colors */
  --secondary-color: #a1a5ff; // svg background
  --secondary-color-surface-1: color-mix(
    in srgb,
    var(--background-color),
    var(--secondary-color) 5%
  );
  --secondary-color-surface-2: color-mix(
    in srgb,
    var(--background-color),
    var(--secondary-color) 10%
  );
  --secondary-color-surface-3: color-mix(
    in srgb,
    var(--background-color),
    var(--secondary-color) 15%
  );

  /* tertiary colors */
  --tertiary-color: #fb92d1; // svg background
  --tertiary-color-surface-1: color-mix(
    in srgb,
    var(--background-color),
    var(--tertiary-color) 5%
  );
  --tertiary-color-surface-2: color-mix(
    in srgb,
    var(--background-color),
    var(--tertiary-color) 10%
  );
  --tertiary-color-surface-3: color-mix(
    in srgb,
    var(--background-color),
    var(--tertiary-color) 15%
  );

  /*action colors*/
  --link-color: var(--primary-color);
  --link-hover-color: var(--secondary-color);
  --link-active-color: var(--tertiary-color);

  /*gradient colors*/
  --gradient-color: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--tertiary-color)
  );
}

$black-color: var(--black-color);
$white-color: var(--white-color);
$background-color: var(--background-color);
$contrast-color: var(--contrast-color);
$default-color: var(--default-color);
$heading-color: var(--heading-color);
$primary-color: var(--primary-color);
$primary-color-surface-1: var(--primary-color-surface-1);
$primary-color-surface-2: var(--primary-color-surface-2);
$primary-color-surface-3: var(--primary-color-surface-3);
$secondary-color: var(--secondary-color);
$secondary-color-surface-1: var(--secondary-color-surface-1);
$secondary-color-surface-2: var(--secondary-color-surface-2);
$secondary-color-surface-3: var(--secondary-color-surface-3);
$tertiary-color: var(--tertiary-color);
$tertiary-color-surface-1: var(--tertiary-color-surface-1);
$tertiary-color-surface-2: var(--tertiary-color-surface-2);
$tertiary-color-surface-3: var(--tertiary-color-surface-3);
$gray-color: var(--gray-color);
$link-color: var(--link-color);
$link-hover-color: var(--link-hover-color);
$link-active-color: var(--link-active-color);
$gradient-color: var(--gradient-color);

$colors: (
  "background-color": $background-color,
  "contrast-color": $contrast-color,
  "default-color": $default-color,
  "heading-color": $heading-color,
  "primary-color": $primary-color,
  "primary-color-surface-1": $primary-color-surface-1,
  "primary-color-surface-2": $primary-color-surface-2,
  "primary-color-surface-3": $primary-color-surface-3,
  "secondary-color": $secondary-color,
  "secondary-color-surface-1": $secondary-color-surface-1,
  "secondary-color-surface-2": $secondary-color-surface-2,
  "secondary-color-surface-3": $secondary-color-surface-3,
  "tertiary-color": $tertiary-color,
  "tertiary-color-surface-1": $tertiary-color-surface-1,
  "tertiary-color-surface-2": $tertiary-color-surface-2,
  "tertiary-color-surface-3": $tertiary-color-surface-3,
  "gray-color": $gray-color,
  "link-color": $link-color,
  "link-hover-color": $link-hover-color,
  "link-active-color": $link-active-color,
  "gradient-color": $gradient-color,
);

@each $key, $value in $colors {
  .#{$key} {
    color: $value;
  }
}
@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }
}
