@use "../design-tokens" as *;

/* ------- Breakpoint ------- */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoints: (
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
  "xl": $breakpoint-xl,
  "xxl": $breakpoint-xxl,
);

/* ------- Spacer ------- */
$spacer-xs: 5px;
$spacer-sm: 10px;
$spacer-md: 15px;
$spacer-lg: 20px;
$spacer-xl: 25px;
$spacer-xxl: 85px;

$spacer-vi-xs: calc($spacer-xs + 0.5vi);
$spacer-vi-sm: calc($spacer-sm + 0.5vi);
$spacer-vi-md: calc($spacer-md + 0.5vi);
$spacer-vi-lg: calc($spacer-lg + 0.5vi);
$spacer-vi-xl: calc($spacer-xl + 0.5vi);
$spacer-vi-xxl: calc($spacer-xxl + 0.5vi);

$spacers: (
  "xs": $spacer-xs,
  "sm": $spacer-sm,
  "md": $spacer-md,
  "lg": $spacer-lg,
  "xl": $spacer-xl,
);

@each $key, $value in $spacers {
  .gap-#{$key} {
    gap: $value;
  }
}

/* ------- Wrapper ------- */

$border-size-thick: 3px;
$border-size-thin: 1px;
$wrapper-padding-inline: $spacer-md;
$border-padding-inline: calc(
  $border-size-thick * 2 + $wrapper-padding-inline * 2
);

.container {
  .wrapper {
    padding-inline: $wrapper-padding-inline;
  }
  @media (width >= $breakpoint-sm) {
    .wrapper-border-inline {
      border-inline: $border-size-thick solid $gray-color;
      padding-block-end: $spacer-md;
    }
  }
}

/* ------- Container ------- */

@mixin container() {
  width: 100%;
  @each $key, $value in $breakpoints {
    @media (width >= $value) and (width >= $breakpoint-sm) {
      width: calc($value - $spacer-lg);
    }
  }
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  @include container;
}
