@use "container-wrapper" as *;

/* ------- Flex center ------- */
@mixin flex-center($gap: $spacer-md) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}
.flex-center {
  @include flex-center;
}

@mixin flex-column-center($gap: $spacer-md) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;
}
.flex-column-center {
  @include flex-column-center;
}

@mixin flex-column-start($gap: $spacer-md) {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: $gap;
}

@mixin flex-start($gap: $spacer-md) {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  gap: $gap;
}
.flex-start {
  @include flex-start;
}

@mixin flex-end($gap: $spacer-md) {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: $gap;
}
.flex-end {
  @include flex-end;
}

@mixin flex-start-desktop($gap: $spacer-md) {
  @include flex-column-start;
  @media (width >= $breakpoint-lg) {
    @include flex-start($gap);
  }
}
.flex-start-desktop {
  @include flex-start-desktop;
  max-width: 900px;
  ul {
    padding-inline: $spacer-xs;
    list-style: none;
  }
}
