@use "../../design-tokens" as *;
@use "../../utilities" as *;
/********* Titles *********/

@mixin text-heading-1 {
  font-family: $heading-font;
  font-size: $font-size-bg;
  line-height: $line-height-heading;
  font-weight: $font-weight-700;
  letter-spacing: $letter-spacing-heading;
  text-wrap: balance;
}

@mixin text-heading-2 {
  font-family: $heading-font;
  font-size: $font-size-xl;
  line-height: $line-height-heading;
  font-weight: $font-weight-600;
  letter-spacing: $letter-spacing-heading;
  text-wrap: balance;
  color: $primary-color;
}

@mixin text-heading-3 {
  font-family: $heading-font;
  font-size: $font-size-md;
  line-height: $line-height-heading;
  font-weight: $font-weight-600;
  letter-spacing: $letter-spacing-heading;
  text-wrap: balance;
}

@layer atoms {
  .title-gradient {
    background-image: $linear-gradient-color;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: fit-content;
    margin-block-end: $spacer-xl;
  }
}
