@use "../../design-tokens" as *;
@use "../../utilities/container-wrapper" as *;
@use "../atoms/burger" as *;

@layer organisms {
  @mixin header-fixed {
    &::before {
      content: "";
      z-index: -1;
      display: block;
      height: $spacer-xxl;
      background-color: $background-color;
    }
    & header {
      display: grid;
      grid-template-columns: auto 1fr auto;
      background-color: $primary-color-surface-2;
      align-items: center;
      height: $spacer-xxl;
      position: fixed;
      padding-inline: $spacer-lg;
      top: 0;
      left: 0;
      right: 0;
      z-index: 200;
    }
  }

  .header-fixed {
    @include header-fixed;
  }

  .burger-menu {
    @include burger-menu;
  }

  @media (width >= 768px) {
    .burger-menu {
      display: none;
    }
  }
}
