@use "../../design-tokens" as *;
@use "../../utilities" as *;

@mixin card_column_center {
  & > * {
    @include flex-column-center;
    margin-inline: auto;
    padding: $spacer-md;
  }
}

@mixin card_border {
  background-color: $primary-color-surface-1;
  padding: $spacer-md;
  border-radius: $border-radius-md;
  box-shadow: 0 0 10px 0 $primary-color-surface-1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
